/*  Author: Abdulrahman Jouhari
    Project: AJouhari Personal Website
    Date: July 2nd, 2020 */

/* General */
html {
    overflow: hidden;
}

/* Banner */
.banner {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Resources/Icons/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    transform: translate(-50%, 0);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 50%;
}
.banner .banner-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
}
.banner .banner-text h1 {
  font-size: 100px;
  font-weight: bold;
  text-transform: lowercase;
  opacity: 0.87;
}