/*  Author: Abdulrahman Jouhari
    Project: AJouhari Personal Website
    Date: July 2nd, 2020 */

/* General */
html {
    box-sizing: border-box;
    background-color: #1f1f1f;
    overflow-x: hidden;
    color: #fbfbfb;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: p;
}

/* Containers */
footer article {
    width: 1050px;
    padding: 70px 0;
    margin: auto auto;
}
footer .flex {
    display: flex;
}

/* Text */
footer h2 {
    text-transform: lowercase;
    opacity: 0.87;
}
footer p {
    line-height: 1.5;
    opacity: 0.6;
}
footer a {
    color: #fbfbfb;
    text-decoration: none;
}

/* Functions */
footer .navigation nav li:hover,
footer .social icons img:hover {
    opacity: 1;
}

/* Logo & Social Links */
footer .social {
    height: auto;
    width: 25%;
}
footer .social .logo {
    height: 160px;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 8px;
}
footer .social icons img {
    height: 24px;
    width: 24px;
    border: 2px solid #8abbff;
    border-radius: 6px;
    padding: 4px 4px;
    opacity: 0.6;
    margin-right: 16px;
    margin-left: 5px;
}

/* Footer Navigation (Quick Links) */
footer .navigation {
    height: auto;
    width: 25%;
    margin: 0 auto;
    list-style-type: none;
}
footer .navigation nav {
    flex-direction: column;
    flex-wrap: wrap;
}
footer .navigation nav li {
    opacity: 0.6;
    margin-bottom: 17px;
}

/* Contact */
footer .contact {
    height: auto;
    width: 50%;
}

/* Copyright */
footer .copyright {
    width: 1050px;
    margin: auto;
    color: #fbfbfb;
    opacity: 1;
}
footer .footer-hr hr {
    width: 100vw;
    color: #3B5998;
    opacity: 0.6;
}

/* Adjusting For Screen Sizes */
@media only screen and (max-width: 479px) {
    /* Container */
    footer article {
        width: 80vw;
        padding: 50px 0;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Subcontainers */
    footer .social {
        display: none;
    }
    footer .navigation {
        width: 100%;
    }
    footer .contact {
        width: 100%;
    }

    /* Navigation List */
    footer .navigation nav {
        flex-direction: row;
    }
    footer .navigation nav li {
        width: 40%;
    }
    /* Copyright */
    footer .copyright {
        width: 80vw;
    }
}
@media only screen and (min-width: 479px) and (max-width: 767px) {
    /* Container */
    footer article {
        width: 70vw;
        padding: 50px 0;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Subcontainers */
    footer .social {
        display: none;
    }
    footer .navigation {
        width: 100%;
    }
    footer .contact {
        width: 100%;
    }

    /* Navigation List */
    footer .navigation nav {
        flex-direction: row;
    }
    footer .navigation nav li {
        width: 40%;
    }
    /* Copyright */
    footer .copyright {
        width: 70vw;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
    /* Container */
    footer article {
        width: 690px;
        padding: 50px 0;
    }

    /* Subcontainers */
    footer .social {
        display: none;
    }
    footer .navigation {
        width: 30%;
    }
    footer .contact {
        width: 70%;
    }
    
    /* Copyright */
    footer .copyright {
        width: 690px;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1600px) {
    /* Container */
    footer article {
        width: 900px;
        padding: 50px 0;
    }
    
    /* Copyright */
    footer .copyright {
        width: 900px;
    }
}