/*  Author: Abdulrahman Jouhari
    Project: AJouhari Personal Website
    Date: June 26th, 2020 */

/* General */

html {
    box-sizing: border-box;
    color: #fbfbfb;
    background-color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: p;
}

p {
    line-height: 1.4;
    opacity: 0.6;
}

a {
    color: #fbfbfb;
    text-decoration: none;
    opacity: 0.87;
}

h1 {
    font-size: xx-large;
}

h1, h2, h3, h4 {
    opacity: 0.87;
}

hr {
    color: #fbfbfb;
    width: 1100px;
    opacity: 0.6;
}

/* General Classes */

.flex {
    display: flex;
}

/* Header */

header #navigation {
    position: fixed;
    background-color: None;
    background-size: cover;
    width: 100vw;
    height: 80px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    transition: background-color 0.5s;
    display: block;
}

header #navigation .info {
    position: fixed;
    width: 1050px;
    height: 80px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

header #navigation .info img {
    float: left;
    height: 50px;
    width: auto;
    margin: 15px 0;
}

header #navigation .info nav {
    position: relative;
    width: auto;
    float: right;
}

header #navigation .info nav li {
    display: inline-block;
    margin-left: 25px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 22px;
}

body header #banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Resources/Icons/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    width: 100%;
    position: relative;
}

body header .error {
    height: 100vh;
}

body header .main {
    height: 60vh;
}

body header .general {
    height: 40vh;
}

body header #banner .banner-text h1 {
    font-size: 100px;
    font-weight: bold;
}

body header #banner .banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} 

/* Main */
main .spacer {
    padding-top: 20px;
}

main article {
    width: 1050px;
    padding: 70px 0;
    margin: auto auto;
}

main article .info,
main article .icon {
    height: auto;
    width: 50%;
}

main article .about-image {
    height: auto;
    width: 55%;
    padding-top: 18px;
}

main article .about-description {
    height: auto;
    width: 45%;
    padding-left: 10px;
    padding-right: 40px;
}

main article .icon img {
    height: auto;
    width: 300px;
    display: block;
    margin: auto auto;
}

main article .about-image img {
    height: 558px;
    width: auto;
    display: block;
    margin: auto auto;
}

main article .info button {
    padding: 8px 36px;
    margin-top: 10px;
    border: 2px solid #8abbff;
    font-size: 1.1rem;
    opacity: 0.87;
    display: inline-block;
    border-radius: 6px;
    background-color: #1f1f1f;
    color: #fbfbfb;
    text-align: center;
    width: 280px;
    transition: all 0.5s;
    cursor: pointer;
}

main article .info button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
main article .info button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
main article .info button:hover span {
    padding-right: 25px;
}

main article .info button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Footer */
footer article {
    width: 1050px;
    margin: 70px auto;
}

footer .icons {
    height: auto;
    width: 40%;
}

footer .icons img {
    margin: 10px 0;
    height: 150px;
    width: 150px;
}

footer .icons icons img {
    height: 24px;
    width: 24px;
    padding: 4px 4px;
    border: 2px solid #8abbff;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 3px;
    opacity: 0.6;
    border-radius: 6px;
}

footer .icons icons img:hover {
    opacity: 1;
}

footer .info {
    height: auto;
    width: 60%;
}

footer .copyright {
    width: 1050px;
    margin: 20px auto;
    color: #fbfbfb;
    opacity: 1;
}

footer hr {
    width: 100%;
    color: #3B5998;
    opacity: 0.6;
}

/* Adjusting For Screen Size */

@media only screen and (max-width: 768px) {
    
    /* General */

    hr {
        width: 90vw;
    }

    .flex {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    /* Header */

    header #navigation .info {
        width: 80vw;
    }

    header #navigation .info nav {
        display: none;
    }

    body header .general {
        height: 60vh;
    }

    body header #banner .banner-text h1 {
        font-size: 70px;
    }

    /* Main */

    main .spacer {
        display: none;
    }

    main article {
        width: 80vw;
        padding: 30px 0;
        flex-wrap: wrap;
    }

    main article .info {
        margin-top: 10px;
    }

    main article .icon {
        display: none;
    }

    main article .info {
        width: 100%;
    }

    main article .about-image {
        display: none;
    }
    
    main article .about-description {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    main article .icon img {
        height: 200px;
        width: auto;
    }
    
    main article .about-image img {
        height: auto;
        width: 90%;
    }

    /* Footer */

    footer article {
        width: 80vw;
        margin: 30px auto;
    }

    footer .icons {
        height: auto;
        width: 80%;
    }

    footer .icons img {
        display: none;
    }

    footer .icons icons img {
        height: 30px;
        width: 30px;
        padding: 4px 4px;
        border: 2px solid #8abbff;
        margin-right: 15px;
    }

    footer .info {
        width: 100%;
    }

    footer .copyright {
        width: 80vw;
        margin: 20px auto;
    }
    
} 

@media only screen and (min-width: 768px) and (max-width: 1024px){


    /* General */

    hr {
        width: 750px;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    /* Header */

    header #navigation .info {
        width: 700px;
    }

    header #navigation .info nav {
        display: none;
    }

    body header .general {
        height: 60vh;
    }

    body header #banner .banner-text h1 {
        font-size: 70px;
    }

    /* Main */

    main .spacer {
        display: none;
    }

    main article {
        width: 700px;
        padding: 50px 0;
    }
    
    main article .info,
    main article .icon {
        width: 50%;
        margin: auto auto;
    }

    main article .about-image {
        height: auto;
        width: 55%;
        padding-top: 18px;
    }
    
    main article .about-description {
        width: 45%;
        padding-left: 10px;
        padding-right: 40px;
    }
    
    main article .icon img {
        height: auto;
        width: 250px;
        margin: auto auto;
    }
    
    main article .about-image img {
        height: auto;
        width: 55%;
        display: block;
    }

    /* Footer */

    footer article {
        width: 700px;
        margin: 30px auto;
    }

    footer .icons {
        height: auto;
        width: 40%;
    }

    footer .icons img {
        height: 168px;
        width: 168px;
        padding-top: 5px;
    }

    footer .icons icons img {
        height: 28px;
        width: 28px;
        padding: 4px 4px;
        border: 2px solid #8abbff;
        margin-right: 15px;
    }

    footer .info {
        width: 60%;
    }

    footer .copyright {
        width: 700px;
        margin: 20px auto;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1600px){

    /* General */

    hr {
        width: 900px;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    /* Header */

    header #navigation .info {
        width: 800px;
    }

    body header .general {
        height: 60vh;
    }

    body header #banner .banner-text h1 {
        font-size: 70px;
    }

    /* Main */

    main .spacer {
        padding-top: 10px;
    }

    main article {
        width: 850px;
        padding: 50px 0;
    }
    
    main article .info,
    main article .icon {
        width: 50%;
        margin: auto auto;
    }

    main article .about-image {
        height: auto;
        width: 55%;
        padding-top: 18px;
    }
    
    main article .about-description {
        width: 45%;
        padding-left: 10px;
        padding-right: 40px;
    }
    
    main article .icon img {
        height: auto;
        width: 300px;
        margin: auto auto
    }
    
    main article .about-image img {
        height: auto;
        width: 55%;
        display: block;
    }

    /* Footer */

    footer article {
        width: 850px;
        margin: 30px auto;
    }

    footer .icons {
        height: auto;
        width: 40%;
    }

    footer .icons img {
        height: 168px;
        width: 168px;
        padding-top: 5px;
    }

    footer .icons icons img {
        height: 28px;
        width: 28px;
        padding: 4px 4px;
        border: 2px solid #8abbff;
        margin-right: 15px;
    }

    footer .info {
        width: 60%;
    }

    footer .copyright {
        width: 850px;
        margin: 20px auto;
    }
}