/*  Author: Abdulrahman Jouhari
    Project: AJouhari Personal Website
    Date: June 26th, 2020 */

/* General */
html {
    box-sizing: border-box;
    color: #fbfbfb;
    background-color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: p;
}
p {
    line-height: 1.5;
    opacity: 0.6;
}
a {
    color: #fbfbfb;
    text-decoration: none;
    opacity: 0.87;
}
h1, h2, h3, h4 {
    opacity: 0.87;
    text-transform: lowercase;
}
hr {
    color: #fbfbfb;
    width: 1100px;
    opacity: 0.6;
}
article {
    width: 1050px;
    padding: 70px 0;
    margin: auto auto;
}
.flex {
    display: flex;
}

/* Article */
article .mobile {
    display: none;
}
article .info,
article .icon {
    height: auto;
    width: 50%;
}
article .icon img {
    height: auto;
    width: 300px;
    display: block;
    margin: auto auto;
}

/* About Article */
article .about-image {
    height: auto;
    width: 55%;
    padding-top: 18px;
}
article .about-description {
    height: auto;
    width: 45%;
    padding-left: 10px;
    padding-right: 40px;
}
article .about-image img {
    height: 558px;
    width: auto;
    display: block;
    margin: auto auto;
}
article .about-image-cropped {
    display: none;
}

/* Button */
article .info button {
    padding: 8px 36px;
    margin-top: 10px;
    border: 2px solid #8abbff;
    font-size: 1.1rem;
    opacity: 0.87;
    display: inline-block;
    border-radius: 6px;
    background-color: #1f1f1f;
    color: #fbfbfb;
    text-align: center;
    width: 280px;
    transition: all 0.5s;
    cursor: pointer;
}
article .info button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
article .info button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
article .info button:hover span {
    padding-right: 25px;
}
article .info button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Adjusting For Screen Size */

@media only screen and (max-width: 479px) {
    /* General */
    hr {
        width: 90vw;
    }
    .flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    article {
        width: 80vw;
        padding: 50px 0;
        flex-wrap: wrap;
    }

    /* Article */
    article .info {
        margin-top: 10px;
    }
    article .mobile {
        height: auto;
        width: 80vw;
        display: initial;
    }
    article .icon {
        display: none;
    }
    article .info {
        width: 100%;
        margin-top: 20px;
    }
    article .mobile img {
        height: auto;
        width: 250px;
        display: block;
        margin: auto auto;
    }

    /* About Article */
    article .about-image {
        display: none;
    }
    article .about-description {
        width: 100%;
        padding: 0 0;
    }
} 

@media only screen and (min-width: 479px) and (max-width: 767px){
    /* General */
    hr {
        width: 80vw;
    }
    .flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    article {
        width: 70vw;
        padding: 50px 0;
        flex-wrap: wrap;
    }

    /* Article */
    article .info {
        margin-top: 10px;
    }
    article .mobile {
        height: auto;
        width: 70vw;
        display: initial;
    }
    article .icon {
        display: none;
    }
    article .info {
        width: 100%;
        margin-top: 20px;
    }
    article .mobile img {
        height: auto;
        width: 250px;
        display: block;
        margin: auto auto;
    }

    /* About Article */
    article .about-image {
        display: none;
    }
    article .about-description {
        width: 100%;
        padding: 0 0;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px){
    /* General */
    hr {
        width: 710px;
    }
    article {
        width: 680px;
        padding: 50px 0;
    }

    /* Article */
    article {
        width: 600px;
        padding: 50px 0;
    }
    article .icon {
        position: relative;
        margin-left: 50px;
    }
    article .icon img {
        height: auto;
        width: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* About Article */
    article .about-image {
        display: none;
    }
    article .about-description {
        width: 100%;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1600px){
    /* General */
    hr {
        width: 950px;
    }

    /* Article */
    .spacer {
        padding-top: 10px;
    }
    article {
        width: 850px;
        padding: 50px 0;
    }
    article .info,
    article .icon {
        width: 50%;
        margin: auto auto;
    }
    article .icon img {
        margin: auto auto;
    }
    
    /* About Article */
    .about {
        flex-wrap: nowrap;
    }
    article .about-image {
        display: none;
    }
    article .about-image-cropped {
        display: initial;
        height: auto;
        width: 40%;
        padding-top: 18px;
    }
    article .about-description {
        width: 60%;
        padding-left: 20px;
        padding-right: 0;
    }
    article .about-image-cropped img {
        height: auto;
        width: 100%;
        display: block;
    }
}