/*  Author: Abdulrahman Jouhari
    Project: AJouhari Personal Website
    Date: June 26th, 2020 */

/* Transition */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

/* General */
html {
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fbfbfb;
    font-family: Arial, Helvetica, sans-serif;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
body {
    margin: 0;
    padding: p;
}
article {
    width: 1050px;
    padding: 40px 0;
    margin: auto auto;
}
p {
    line-height: 1.5;
    opacity: 0.6;
}
a {
    color: #fbfbfb;
    text-decoration: none;
    opacity: 0.87;
}
h1, h2, h3, h4 {
    text-transform: lowercase;
    opacity: 0.87;
}
hr {
    color: #fbfbfb;
    width: 1100px;
    opacity: 0.6;
}
.flex {
    display: flex;
}

/* Game */
.game {
    flex-direction: column;
    flex-wrap: wrap;
}
.game .error {
    display: none;
}
.game h1 {
    font-size: 36px;
}
.game iframe {
    margin: auto auto;
}
.game .small {
    display: none;
}

/* Game Info */
.info {
    padding-top: 20px;
}
article .credits,
article .description {
    height: auto;
    width: 50%;
}
article .credits button {
    padding: 8px 36px;
    margin-top: 10px;
    border: 2px solid #8abbff;
    font-size: 1.1rem;
    opacity: 0.87;
    display: inline-block;
    border-radius: 4px;
    background-color: #1f1f1f;
    color: #fbfbfb;
    text-align: center;
    width: 280px;
    transition: all 0.5s;
    cursor: pointer;
}
article .credits button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
article .credits button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
article .credits button:hover span {
    padding-right: 25px;
}
article .credits button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Adjusting For Screen Size */
@media only screen and (max-width: 479px) {
    /* General */
    article {
        width: 80vw;
        padding: 40px 0;
        margin: auto auto;
    }
    hr {
        width: 90vw;
    }
    .flex {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Game */
    article iframe {
        display: none;
    }
    .game .error {
        display: initial;
    }
    .game .title {
        display: none;
    }

    /* Info */
    article .credits,
    article .description {
        height: auto;
        width: 100%;
    }
    article .credits button {
        display: none;
    }
}
@media only screen and (min-width: 479px) and (max-width: 767px) {
    /* General */
    article {
        width: 70vw;
        padding: 40px 0;
        margin: auto auto;
    }
    hr {
        width: 80vw;
    }
    .flex {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Game */
    article iframe {
        display: none;
    }
    .game .error {
        display: initial;
    }
    .game .title {
        display: none;
    }

    /* Info */
    article .credits,
    article .description {
        height: auto;
        width: 100%;
    }
    article .credits button {
        display: none;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
    /* General */
    article {
        width: 680px;
        padding: 40px 0;
        margin: auto auto;
    }
    hr {
        width: 710px;
    }

    /* Game */
    article iframe {
        display: none;
    }
    .game .error {
        display: initial;
    }
    .game .title {
        display: none;
    }

    /* Info */
    article .credits,
    article .description {
        height: auto;
        width: 50%;
    }
    article .credits button {
        display: none;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1025) {
    /* General */
    article {
        width: 900px;
        padding: 40px 0;
        margin: auto auto;
    }
    hr {
        width: 950px;
    }

    /* Game */
    article iframe {
        display: none;
    }
    .game .error {
        display: initial;
    }
    .game .title {
        display: none;
    }

    /* Info */
    article .credits,
    article .description {
        height: auto;
        width: 50%;
    }
    article .credits button {
        display: none;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
    /* General */
    article {
        width: 900px;
        padding: 40px 0;
        margin: auto auto;
    }
    hr {
        width: 950px;
    }

    /* Game */
    article .large {
        display: none;
    }
    article .small {
        display: initial;
    }

    /* Info */
    article .credits,
    article .description {
        height: auto;
        width: 50%;
    }
}